Repository LuckyWindsck/JAPAN: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

refactor: use v-model composable to simplify code
  package.json
  src/components/AppCheckboxPrefecture.vue
  src/components/ThePrefectureSelector.spec.ts
  src/components/ThePrefectureSelector.vue
  yarn.lock
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

perf: run tests parallelly
  src/components/AppCheckboxPrefecture.spec.ts
  src/components/TheDataPresenter.spec.ts
  src/components/TheLineChart.spec.ts
  src/components/ThePrefectureSelector.spec.ts
  src/composables/useResasApi.spec.ts
  src/plugins/test-utils/DataTestClassPlugin.spec.ts
  src/stores/prefectures.spec.ts
  src/views/HomeView.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

fix: @typescript-eslint/no-floating-promises
  src/stores/prefectures.spec.ts
  src/stores/prefectures.ts
  src/utils/test/helpers/sleep.ts
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

test: filter prefectures based on whether they are selected or not
  src/stores/prefectures.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

build: fix config of @typescript-eslint
  .eslintrc.cjs
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

build: fix lint-staged
  .husky/pre-commit
  .lintstagedrc.json
Due: prettier --write --ignore-unknown

feat(component): implement the-type-switcher-population
  src/components/TheDataPresenter.vue
  src/components/TheTypeSwitcherPopulation.spec.ts
  src/components/TheTypeSwitcherPopulation.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: draw overlay on chart when data is fetching
  src/components/TheLineChart.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: dynamically generate population transition line chart
  src/components/TheDataPresenter.spec.ts
  src/components/TheDataPresenter.vue
  src/types/search-response.ts
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

test(component): the-type-switcher-population
  src/components/TheDataPresenter.vue
  src/components/TheTypeSwitcherPopulation.spec.ts
  src/components/TheTypeSwitcherPopulation.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

fix: add missing url parameter
  src/composables/usePrefecture.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: define app component structure
  src/components/AppCheckboxPrefecture.vue
  src/components/TheDataPresenter.vue
  src/components/TheLineChart.vue
  src/components/ThePrefectureSelector.vue
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: implement & use prefectures store
  src/components/AppCheckboxPrefecture.vue
  src/components/ThePrefectureSelector.vue
  src/components/__tests__/AppCheckboxPrefecture.spec.ts
  src/stores/prefectures.ts
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: implement component the-line-chart
  package.json
  src/components/TheDataPresenter.vue
  src/components/TheLineChart.vue
  src/components/__tests__/TheLineChart.spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

refactor: organize tests with fixtures and factories
  .eslintrc.cjs
  src/components/AppCheckboxPrefecture.spec.ts
  src/components/TheDataPresenter.spec.ts
  src/components/ThePrefectureSelector.spec.ts
  src/composables/useResasApi.spec.ts
  src/plugins/test-utils/DataTestClassPlugin.spec.ts
  src/stores/prefectures.spec.ts
  src/types/utility.ts
  src/utils/test/factories/faker.ts
  src/utils/test/factories/prefecture.ts
  src/utils/test/factories/prefectures.ts
  src/utils/test/fixtures/prefectures.ts
  src/utils/test/helpers/faker.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: implement app-checkbox-prefecture
  src/components/AppCheckboxPrefecture.vue
  src/components/ThePrefectureSelector.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

test: composable use-prefecture
  src/composables/usePrefecture.spec.ts
  src/composables/usePrefecture.ts
  src/utils/test/fixtures/prefectures.ts
  src/utils/test/helpers/sleep.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: select tokyo after fetching prefecture data
  src/stores/prefectures.ts
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

test: component the-data-presenter
  src/components/TheDataPresenter.spec.ts
  src/components/TheLineChart.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

build: load environment variables in cypress
  cypress.config.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

refactor: prefer named-export for better tree-shaking & enforcing style
  .eslintrc.cjs
  src/components/AppCheckboxPrefecture.spec.ts
  src/components/TheDataPresenter.spec.ts
  src/components/TheDataPresenter.vue
  src/components/ThePrefectureSelector.spec.ts
  src/components/ThePrefectureSelector.vue
  src/composables/usePrefecture.spec.ts
  src/composables/usePrefecture.ts
  src/composables/useResasApi.spec.ts
  src/composables/useResasApi.ts
  src/configs/vitest/setup.ts
  src/main.ts
  src/plugins/test-utils/DataTestClassPlugin.spec.ts
  src/plugins/test-utils/DataTestClassPlugin.ts
  src/router/index.ts
  src/stores/prefectures.spec.ts
  src/stores/prefectures.ts
  src/utils/test/factories/prefecture.ts
  src/utils/test/factories/prefectures.ts
  src/utils/test/helpers/assertions.ts
  src/utils/test/helpers/faker.ts
  src/views/HomeView.spec.ts
  src/views/HomeView.vue
  src/vue-test-utils.d.ts
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

build: flatten directory structure & enforce using @ alias
  src/components/AppCheckboxPrefecture.spec.ts
  src/components/TheDataPresenter.vue
  src/components/TheLineChart.spec.ts
  src/components/ThePrefectureSelector.spec.ts
  src/components/ThePrefectureSelector.vue
  src/composables/useResasApi.spec.ts
  src/composables/useResasApi.ts
  src/router/index.ts
  src/stores/prefectures.spec.ts
  src/stores/prefectures.ts
  src/types/prefecture.ts
  src/views/HomeView.spec.ts
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: set proper aspect ratio of line chart for different devices
  src/components/TheLineChart.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

test: app-checkbox-prefecture
  package.json
  src/components/__tests__/AppCheckboxPrefecture.spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

build: remove all unneccessary components
  src/App.vue
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/__tests__/HelloWorld.spec.ts
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/router/index.ts
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: implement component the-prefecture-selector
  src/components/ThePrefectureSelector.vue
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: add titles for chart and x/y ticks
  src/components/TheLineChart.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: implement & use data-test-class-plugin
  .eslintrc.cjs
  src/components/__tests__/TheLineChart.spec.ts
  src/components/__tests__/ThePrefectureSelector.spec.ts
  src/configs/vitest/setup.ts
  src/plugins/test-utils/DataTestClassPlugin.ts
  src/views/__tests__/HomeView.spec.ts
  src/vue-test-utils.d.ts
  vitest.config.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: use axios composable to implement resas-api composable
  package.json
  src/composables/useResasApi.spec.ts
  src/composables/useResasApi.ts
  src/main.ts
  src/views/HomeView.vue
  yarn.lock
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: ensure home-view render correctly
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

fix: implementation error during component test
  package.json
  src/components/__tests__/TheLineChart.spec.ts
  yarn.lock
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: implement plugin method find-by-test-class
  src/plugins/test-utils/DataTestClassPlugin.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

build: split npm scripts
  package.json
Due: prettier --write --ignore-unknown

build: limit eslint override file types
  .eslintrc.cjs
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

feat: prefectures filtering
  src/stores/prefectures.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

test: can get population composition data by label
  src/composables/usePrefecture.spec.ts
  src/composables/usePrefecture.ts
  src/utils/test/fixtures/prefectures.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

fix: mock resas-api in test
  src/views/HomeView.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

test: component the-line-chart
  src/components/__tests__/TheLineChart.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

style: styling layout of the whole app
  src/assets/base.css
  src/assets/main.css
  src/components/AppCheckboxPrefecture.vue
  src/components/ThePrefectureSelector.vue
  src/views/HomeView.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

test: checkbox label rendering
  src/components/ThePrefectureSelector.spec.ts
  src/views/HomeView.spec.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}
  stylelint --fix --max-warnings 0: any of: *.{css,vue}
  prettier --write --ignore-unknown: any of: *
