Repository LuckyWindsck/JAPAN: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

refactor: remove unnecessary import
  src/components/ThePrefectureSelector.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

refactor: replace magic number
  src/utils/test/factories/faker.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

test(e2e): navigator renders data on different situations
  cypress/e2e/navigator.cy.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

test: select specified prefecture
  src/stores/prefectures.spec.ts
  src/stores/prefectures.ts
Due: eslint --fix --max-warnings 0, prettier --write --ignore-unknown

refactor: reduce boilerplate code
  src/components/TheDataPresenter.vue
Due: eslint --fix --max-warnings 0, stylelint --fix --max-warnings 0, prettier --write --ignore-unknown

fix(deploy): add environment variables
  .github/workflows/00-deploy.yml
Due: prettier --write --ignore-unknown

fix(deploy): set environment variable in job
  .github/workflows/00-deploy.yml
Due: prettier --write --ignore-unknown

ci: ignore e2e tests error
  .github/workflows/00-deploy.yml
Due: prettier --write --ignore-unknown

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}
  stylelint --fix --max-warnings 0: any of: *.{css,vue}
  prettier --write --ignore-unknown: any of: *
