Repository LuckyWindsck/JAPAN: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format

.lintstagedrc.json:

{
  "*.{vue,js,jsx,cjs,mjs,ts,tsx,cts,mts}": "yarn lint",
  "src/**/*": "yarn format"
}

build: setup eslint extension
  .eslintrc.cjs
  commitlint.config.ts
  package.json
  src/components/TheWelcome.vue
  src/main.ts
  src/router/index.ts
  src/stores/counter.ts
  tsconfig.node.json
  yarn.lock
Due: yarn lint, yarn format

build: setup stylelint
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/App.vue
  src/assets/base.css
  src/assets/main.css
  src/components/HelloWorld.vue
  src/components/WelcomeItem.vue
  src/views/AboutView.vue
  yarn.lock
Due: yarn lint, yarn format

perf: cache linter
  package.json
Due: none

ci: validate linter disables & set linter max-warnings
  .eslintrc.cjs
  .stylelintrc.json
  package.json
  src/assets/base.css
Due: yarn lint, yarn format

build: setup prettier
  .prettierrc.json
  README.md
  commitlint.config.ts
  cypress.config.ts
  index.html
  package.json
  src/router/index.ts
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: yarn lint, yarn format

build: simply glob pattern for lint-staged
  .lintstagedrc.json
Due: none

build: set base public path
  vite.config.ts
Due: yarn lint

ci: create deploy.yml
  .github/workflows/deploy.yml
Due: none

ci: rename github action workflow
  .github/workflows/00-deploy.yml
Due: none

ci: fix npm script test:e2e
  cypress.config.ts
  package.json
Due: yarn lint

ci: add e2e test before deploying
  .github/workflows/00-deploy.yml
Due: none

build: type-check when pre-commit
  .lintstagedrc.json
Due: none

ci: run unit tests before e2e tests
  .github/workflows/00-deploy.yml
Due: none

docs: create LICENSE
  LICENSE
Due: none

docs: add project description in README.md
  README.md
Due: none

docs: fix and add usage of npm scripts in README.md
  README.md
Due: none

build: fix lint-staged
  .husky/pre-commit
  .lintstagedrc.json
Due: none

build: fix config of @typescript-eslint
  .eslintrc.cjs
Due: yarn lint

test: add e2e test for navigator
  cypress/e2e/example.cy.ts
  cypress/e2e/navigator.cy.ts
Due: yarn lint

build: remove all unneccessary components
  src/App.vue
  src/components/HelloWorld.vue
  src/components/TheWelcome.vue
  src/components/WelcomeItem.vue
  src/components/__tests__/HelloWorld.spec.ts
  src/components/icons/IconCommunity.vue
  src/components/icons/IconDocumentation.vue
  src/components/icons/IconEcosystem.vue
  src/components/icons/IconSupport.vue
  src/components/icons/IconTooling.vue
  src/router/index.ts
  src/views/HomeView.vue
Due: yarn lint, yarn format

build: split npm scripts
  package.json
Due: none

feat: define app component structure
  src/components/AppCheckboxPrefecture.vue
  src/components/TheDataPresenter.vue
  src/components/TheLineChart.vue
  src/components/ThePrefectureSelector.vue
  src/views/HomeView.vue
Due: yarn lint, yarn format

test: app-checkbox-prefecture
  package.json
  src/components/__tests__/AppCheckboxPrefecture.spec.ts
  yarn.lock
Due: yarn lint, yarn format

feat: implement app-checkbox-prefecture
  src/components/AppCheckboxPrefecture.vue
  src/components/ThePrefectureSelector.vue
Due: yarn lint, yarn format

test: composable use-resas-api
  src/composables/__tests__/useResasApi.spec.ts
  src/composables/useResasApi.ts
  src/types/search-response.ts
Due: yarn lint, yarn format

feat: implement composable use-resas-api
  package.json
  src/composables/useResasApi.ts
  src/env.d.ts
  yarn.lock
Due: yarn lint, yarn format

docs: explain why we don't mock HTTP request
  src/composables/__tests__/useResasApi.spec.ts
Due: yarn lint, yarn format

test: component the-prefecture-selector
  src/components/__tests__/AppCheckboxPrefecture.spec.ts
  src/components/__tests__/ThePrefectureSelector.spec.ts
Due: yarn lint, yarn format

feat: implement component the-prefecture-selector
  src/components/ThePrefectureSelector.vue
  src/views/HomeView.vue
Due: yarn lint, yarn format

refactor: sort imports
  .eslintrc.cjs
  src/components/ThePrefectureSelector.vue
  src/components/__tests__/AppCheckboxPrefecture.spec.ts
  src/components/__tests__/ThePrefectureSelector.spec.ts
  src/composables/__tests__/useResasApi.spec.ts
  src/composables/useResasApi.ts
  src/main.ts
  src/router/index.ts
  src/stores/counter.ts
  vite.config.ts
  vitest.config.ts
Due: yarn lint, yarn format

feat: dynamically generate prefecture checkboxes
  src/views/HomeView.vue
Due: yarn lint, yarn format

build: enforce consistent usage of type imports
  .eslintrc.cjs
Due: yarn lint

style: improving styling of the prefecture selector
  src/components/AppCheckboxPrefecture.vue
  src/components/ThePrefectureSelector.vue
Due: yarn lint, yarn format

test: view home
  src/views/__tests__/HomeView.spec.ts
Due: yarn lint, yarn format

feat: ensure home-view render correctly
  src/views/HomeView.vue
Due: yarn lint, yarn format

test: component the-line-chart
  src/components/__tests__/TheLineChart.spec.ts
Due: yarn lint, yarn format

feat: implement component the-line-chart
  package.json
  src/components/TheDataPresenter.vue
  src/components/TheLineChart.vue
  src/components/__tests__/TheLineChart.spec.ts
  yarn.lock
Due: yarn lint, yarn format

test: store prefectures
  package.json
  src/components/__tests__/ThePrefectureSelector.spec.ts
  src/composables/__tests__/useResasApi.spec.ts
  src/composables/useResasApi.ts
  src/stores/__tests__/prefectures.spec.ts
  src/stores/prefectures.ts
  src/types/prefecture.ts
  src/types/search-response.ts
  src/views/HomeView.vue
  src/views/__tests__/HomeView.spec.ts
  yarn.lock
Due: yarn lint, yarn format

feat: implement & use prefectures store
  src/components/AppCheckboxPrefecture.vue
  src/components/ThePrefectureSelector.vue
  src/components/__tests__/AppCheckboxPrefecture.spec.ts
  src/stores/prefectures.ts
  src/views/HomeView.vue
Due: yarn lint, yarn format

fix: implementation error during component test
  package.json
  src/components/__tests__/TheLineChart.spec.ts
  yarn.lock
Due: yarn lint, yarn format
